@import url(https://fonts.googleapis.com/css?family=Lato:400,700);

*, *:before, *:after {
    box-sizing: border-box;
}

.material-symbols-outlined {
    font-variation-settings:
            'FILL' 0,
            'wght' 400,
            'GRAD' 0,
            'opsz' 48
}

html {
    height: 100%;
}

body {
    font: 14px/20px "Lato", Arial, sans-serif;
    margin: 0;
    height: 100%;
}

#app {
    height: 100%;
}

.wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.wrapper--inner {
    width: 100%;
    max-width: 600px;
}

.form-row {
    display: flex;
    align-items: center;
}

.form-row .form-group:first-child {
    flex: 1;
}

.form-group {
    display: flex;
    flex-direction: column;
}

.notes {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
    grid-row-gap: 1rem;
    margin-bottom: 1rem;
}

.note {
    padding: 1rem;
    background-color: #fcfcfc;
    border: 1px solid lightgray;
    position: relative;
}
.delete {
    position: absolute;
    top: -1rem;
    right: -1rem;
}

header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
}

button {
    border: none;
    background: none;
    outline: none;
    cursor: pointer;
}
